{% for pubs_yearly in site.data.papers %}
  <h2 class="year">{{pubs_yearly[0]}}</h2>
  <ol class="bibliography">
  {% for entry in pubs_yearly[1] %}
    <li>
      <div class="row">
        <div class="col-sm-2 abbr">
          <abbr class="badge">{{entry.venue}}</abbr>
        </div>

        <div class="col-sm-8">
          <div class="title">{{entry.title}}</div>

          <div class="author">
            {% for author in entry.authors %}
              {%- capture author_name -%}
                {{author}}
              {%- endcapture -%}

              {%- if entry.leadauth -%}
                {%- assign leadauthnum = entry.leadauth | plus: 0 -%}
                {%- if forloop.index <= leadauthnum -%}
                  {%- assign author_name = author_name | append: "*" -%}
                {%- endif -%}
              {%- endif -%}

              {% if forloop.length == 1 %}
                {{author_name}}
              {% elsif forloop.index < forloop.length %}
                {{author_name}},
              {% else %}
                and {{author_name}}
              {% endif %}
            {% endfor %}
          </div>

          <div>
          {% for res in entry.resources %}
            {% if res[1] contains '://' %}
              [<a href="{{ res[1] }}" role="button" target="_blank">{{ res[0] | lowercase }}</a>]
            {% else %}
              [<a href="{{ res[1] | prepend: '/assets/pdf/' | relative_url }}" target="_blank">{{ res[0] | lowercase }}</a>]
            {% endif %}
          {% endfor %}
          </div>

          <!-- Hidden abstract block -->
          {% if entry.summary %}
          <div class="abstract hidden">
            <p>{{ entry.summary }}</p>
          </div>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
  </ol>
{% endfor %}
