{% for entry in site.data.talks %}
<div class="p-1">
  <div class="row">
    <div class="col-sm-10">
      <b>{{entry.name}}</b>
      <ul>
      {% for venue in entry.venues %}
        <li>
        {{venue.name}}
        {% for asset in venue.assets %}
          {% if asset[1] contains '://' %}
            [<a href="{{ asset[1] }}" target="_blank">{{ asset[0] | lowercase }}</a>]
          {% else %}
            [<a href="{{ asset[1] | prepend: '/assets/slides/' | relative_url }}" target="_blank">{{ asset[0] | lowercase }}</a>]
          {% endif %}
        {% endfor %}
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endfor %}
