{{- $paper := . -}}
<li>
  <div class="paper-title">{{- .title -}}</div>
  <div class="paper-authors">
  {{- $numAuthors := len .authors -}}
  {{- $i := 1 -}}
  {{- range .authors -}}
    {{- . -}}
    {{- if (and $paper.leadauth (le $i $paper.leadauth)) -}}
      *
    {{- end -}}
    {{- if not (eq $i $numAuthors) -}}
      {{- ", " -}}
    {{- end -}}
    {{- $i = add 1 $i -}}
  {{- end -}}
  </div>
  {{- $venues := .venues -}}
  {{- if and (not $venues) .venue -}}
    {{- $venues = slice .venue -}}
  {{- end -}}
  {{- if or $venues .resources -}}
  <div class="paper-details">
    {{- with $venues -}}
      <div class="paper-venues">
        {{- range $i, $venue := . -}}
          {{- if $i }} <span class="venue-separator" aria-hidden="true">&middot;</span> {{ end -}}
          <span class="paper-venue">{{ $venue }}</span>
        {{- end -}}
      </div>
    {{- end -}}
    {{- if .resources -}}
      <div class="paper-resources resource-links">
        {{- partial "resource-links.html" .resources -}}
      </div>
    {{- end -}}
  </div>
  {{- end -}}
</li>
