{{- $pubs := .Site.Data.papers -}}
{{- $byYear := dict -}}
{{- $years := slice -}}

{{- range $pubs -}}
  {{- $year := printf "%v" .year -}}
  {{- $entry := index $byYear $year -}}
  {{- if not $entry -}}
    {{- $entry := slice -}}
    {{- if ne $year "manuscript" -}}
      {{- $years = $years | append $year -}}
    {{- end -}}
  {{- end -}}
  {{- $entry = $entry | append . -}}
  {{- $byYear = merge $byYear (dict $year $entry) -}}
{{- end -}}

{{- $manuscripts := index $byYear "manuscript" -}}
{{- if $manuscripts -}}
  <div class="paper-group paper-group-manuscripts">
  <h3 class="paper-year">Unpublished Manuscripts</h3>
  <ul class="papers" role="list">
  {{- range $manuscripts -}}
    {{- partial "paper.html" . -}}
  {{- end -}}
  </ul>
  </div>
{{- end -}}

{{- range (sort $years "value" "desc") -}}
  <div class="paper-group">
  <h3 class="paper-year">{{ . }}</h3>
  <ul class="papers" role="list">
    {{- range index $byYear . -}}
      {{- partial "paper.html" . -}}
    {{- end -}}
  </ul>
  </div>
{{- end -}}
