{{- $preferred := slice "eprint" "paper" "proceedings" "slides" "code" "recording" -}}
{{- $resources := . -}}
{{- $labels := slice -}}
{{- range $preferred -}}
  {{- if isset $resources . -}}
    {{- $labels = $labels | append . -}}
  {{- end -}}
{{- end -}}
{{- range $label, $url := $resources -}}
  {{- if not (in $preferred $label) -}}
    {{- $labels = $labels | append $label -}}
  {{- end -}}
{{- end -}}
{{- range $labels -}}
  <a href="{{ index $resources . }}">[{{ lower . }}]</a>
{{- end -}}
