<ul class="talks" role="list">
  {{- range .Site.Data.talks -}}
    <li class="talk">
      <div class="talk-title">{{ .name }}</div>
      <ul class="talk-venues" role="list">
        {{- range .venues -}}
          <li class="talk-venue">
            <span class="talk-venue-name">{{ .name }}</span>
            {{- if .assets -}}
              <span class="talk-resources resource-links">
                {{- partial "resource-links.html" .assets -}}
              </span>
            {{- end -}}
          </li>
        {{- end -}}
      </ul>
    </li>
  {{- end -}}
</ul>
